<ion-view hide-nav-bar="true" class="greeting">
  <ion-content>
    <!--<ion-slide-box on-slide-changed="slideChanged($event)">-->
      <!--<ion-slide ng-click="next()">-->
        <!--<div class="box blue" style="width: 100%; height: 100%">-->
          <!--<img style="width: 100%; height: 100%" src="./img/first.JPEG" alt="">-->
        <!--</div>-->
      <!--</ion-slide>-->
      <!--<ion-slide ng-click="next()">-->
        <!--<div class="box blue" style="width: 100%; height: 100%">-->
          <!--<img style="width: 100%; height: 100%" src="./img/second.JPEG" alt="">-->
        <!--</div>-->
      <!--</ion-slide>-->
      <!--<ion-slide ng-click="next()">-->
        <!--<div class="box blue" style="width: 100%; height: 100%">-->
          <!--<img style="width: 100%; height: 100%" src="./img/third.JPEG" alt="">-->
        <!--</div>-->
      <!--</ion-slide>-->
      <!--<ion-slide ng-click="next()">-->
        <!--<div class="box blue" style="width: 100%; height: 100%">-->
          <!--<img style="width: 100%; height: 100%" src="./img/fourth.JPEG" alt="">-->
        <!--</div>-->
      <!--</ion-slide>-->
    <!--</ion-slide-box>-->

    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page>
        <div class="box pink">
          <div class="box blue" style="width: 100%; height: 100%">
            <img style="width: 100%; height: 100%" src="./img/first.JPEG" alt="">
          </div>
        </div>
      </ion-slide-page>

      <ion-slide-page>
        <div class="box yellow">
          <div class="box blue" style="width: 100%; height: 100%">
            <img style="width: 100%; height: 100%" src="./img/second.JPEG" alt="">
          </div>
        </div>
      </ion-slide-page>

      <ion-slide-page>
        <div class="box pink">
          <div class="box blue" style="width: 100%; height: 100%">
            <img style="width: 100%; height: 100%" src="./img/third.JPEG" alt="">
          </div>
        </div>
      </ion-slide-page>

      <ion-slide-page>
        <div class="box pink">
          <div class="box blue" style="width: 100%; height: 100%">
            <img style="width: 100%; height: 100%" src="./img/fourth.JPEG" alt="">
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
