// global config

$button-bg: #232323; //linear-gradient(to top, #f2c200, #fdca00, #ffce09);
$button-text-color: #fff; //#000;
$button-border: 0;
$button-text-shadow: none; // 0 1px #fdd900;

// auth config
$margin-top: 0;
$logo-width: 130px;
$auth-color-input: #0d76a4;
$auth-color-border: #19191a;

$auth-button-bg: linear-gradient(to top, #f2c200, #fdca00, #ffce09);
$auth-button-text-color: #000;
$auth-button-border: 0;
$auth-button-text-shadow: 0 1px #fdd900;

// order config

$left-point: 30px;
$add-button-color: #000;

// menu

$menu-bg-color: linear-gradient(to top, #fff, #fff);

//T&R

//linear-gradient(to top, #222e63, #222e63, #222e63)
//m-t: 15%; height: 200px
//status-bar: #d4cc0e

//iAuto

//linear-gradient(to top, #ff8100, #ff8100, #ff8100)
//bg-color: linear-gradient(to top, #3ab109, #3ab109)
