<ion-view view-title="Test" class="history">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <!--
    <ion-list>
      <ion-item class="item-driver" ng-repeat="driver in history.free_drivers">
        <div class="text" ng-click="switchShow(driver.id)">
          <div class="avatar">
            <img src="./img/avatar.png">
          </div>
          <div class="top">
            <span class="name">{{ driver.driver }}</span>
          </div>
          <div class="auto">
            {{ driver.model }}
          </div>
          <div class="row" style="padding: 0; margin: 0;">
            <div class="col">
              {{ driver.number }}
            </div>
            <div class="col">
              {{ driver.offer_price + ' ' + current}} 
            </div>
          </div>
        </div>
        <div class="row" ng-if="isShow(driver.id)">
          <div class="col">
            <button class="button button-block button-small button-dark" on-tap="cancel(driver)">Отказать</button>
          </div>
          <div class="col">
            <button class="button button-block button-small button-dark" on-tap="select(driver)">Соглосовать</button>
          </div>
        </div>
      </ion-item>
    </ion-list>
  -->
  </ion-content>
</ion-view>