<ion-view view-title="{{ 'favorite_addresses' | translate }}" class="favorite">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="favorite in favorites" class="item-icon-left item-icon-right">
        <div ng-click="selectFavorite(favorite)">
          <i class="icon ion-heart"></i>
          <p class="name">{{ favorite.name }}</p>
          <p class="address">{{ favorite.address }}</p>
          <p class="comment">{{ favorite.comment }}</p>
        </div>
        <i class="icon ion-close-circled" ng-click="removeFavorite(favorite.id);"></i>
      </ion-item>
    </ion-list>
    <div class="center">
      <i style="color: #222e63" class="button button-icon icon ion-plus-circled" ng-click="goCreateFavorite()"></i>
    </div>
  </ion-content>
</ion-view>
